<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">hr</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/XEPDB1</property>
		<property name="hibernate.connection.username">hr</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        -->

		<property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

		<property name="hibernate.connection.datasource">java:comp/env/connectOracleJdbc/HibernateService</property>


		<property name="hibernate.current_session_context_class">thread</property>


		<property name="hibernate.show_sql">true</property>

		<property name="hibernate.format_sql">true</property>


		

		<mapping class="com.gocamp.member.model.Member" />
	
	    <mapping class="com.gocamp.shop.bean.Product" />

		<mapping class="com.gocamp.recipe.model.Recipe" />
		
		<mapping class="com.gocamp.forum.bean.Post"/>
		
    	<mapping class="com.gocamp.forum.bean.Reply"/>
		
	    <mapping class="com.gocamp.campground.bean.CampgroundBean"/>

    
		
	     


	</session-factory>
</hibernate-configuration>
